<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="stacked">Judul</ion-label>
    <ion-input [(ngModel)] ="judul" type="text"></ion-input>
  

    <ion-label position="stacked">Isi</ion-label>
    <ion-input  [(ngModel)] ="isi" type="text"></ion-input>

  
    <ion-label position="stacked">Tanggal</ion-label>
    <ion-input [(ngModel)] ="tgl" type="date"></ion-input>

    <ion-button (click)="submit()">Add</ion-button>
    <ion-button routerLink="/halaman2">List</ion-button>
    <ion-button routerLink="/halaman3">List Fav</ion-button>
   
  </ion-item>
</ion-content>
